<%- include('./partials/header.ejs') %>
<% if (locals.verseData) { %>
    <div class="verseHeading">
        <div class="verseTab m-plus-1p-medium">Chapter Number - <%= verseData.chapter_number %></div>
        <div class="verseTab m-plus-1p-medium">Verse - <%= verseData.verse_number %>/<%= verseCount %></div>
        <div class="verseTab textTab amita-regular orange "><%= verseData.text %></div>
    </div>
    <div class="chapterSummaryDiv">
        <div class="chapterSummary">
          <div class="verseHeader">
            <div class="langTabDiv">
              <a href="/verse/<%= verseData.chapter_number %>/<%= verseData.verse_number %>/hindi/<%= verseCount %>"
                >
                <div class="anek-devanagari hindi langTab <% if (locals.language == "hindi") { %>
                  <%= "choosen" %>
                  <% } %>">
                    हिन्दी
                </div>
              </a>
              <a href="/verse/<%= verseData.chapter_number %>/<%= verseData.verse_number %>/english/<%= verseCount %>"
                ><div class="m-plus-1p-medium english langTab <% if (locals.language == "english") { %>
                <%= "choosen" %>
                <% } %>">English</div></a
              >
            </div>
            <div class="search">
              <form action="/searchVerse/<%= verseData.chapter_number%>/<%= language %>/<%=verseCount%>" method="post">
                <input type="text" class="searchInput m-plus-1p-medium" placeholder="Search" name="searchInput" required>
                <input type="submit" class="searchSubmit m-plus-1p-medium" value="Go">
              </form>
            </div>  
          </div>
          <div>
            <% if (locals.language == "hindi") { %>
            <div class="anek-devanagari hindiSummary summaryTab">
                <%= verseData.commentaries[13].description %>
                <div class="author quoteWriterB .m-plus-1p-regular orange">By - <%= verseData.commentaries[13].author_name %></div>
            </div>
            <% } %> <% if (locals.language == "english") { %>
            <div class="m-plus-1p-medium englishSumary summaryTab">
              <%= verseData.translations[0].description %>
              <div class="author quoteWriterB .m-plus-1p-regular orange">By - <%= verseData.translations[0].author_name %></div>
            </div>
            <% } %>
          </div>
          <div class="buttonsContainer">
            <div class="buttonsDiv">
              <% if (verseData.verse_number > 1) { %>
                <div class="previous"><a href="/verse/<%= verseData.chapter_number %>/<%= verseData.verse_number - 1 %>/<%= language %>/<%= verseCount %>" class="noDecoration"><div class="button ubuntu-condensed-regular"><span class="material-symbols-outlined">
                  arrow_back
                  </span>Prev</div></a>
                </div>
              <% } %>
              <% if (verseData.verse_number == 1 && verseData.chapter_number != 1) { %>
                <div class="previous"><a href="/nextChapter/<%= verseData.chapter_number - 1%>/<%= language %>%>" class="noDecoration"><div class="button chapterNext ubuntu-condensed-regular"><span class="material-symbols-outlined">
                  arrow_back
                  </span>Prev Chapter</div></a>
                </div>
              <% } %>
              <% if (verseData.verse_number < verseCount) { %>
                <div class="next">
                  <a href="/verse/<%= verseData.chapter_number %>/<%= verseData.verse_number + 1 %>/<%= language %>/<%= verseCount %>" class="noDecoration"><div class="button next ubuntu-condensed-regular">Next <span class="material-symbols-outlined">
                    arrow_forward
                  </span></div></a>
                </div>
                <% } %>
                <% if (verseData.verse_number == verseCount && verseData.chapter_number != 18) { %>
                  <div class="next">
                    <a href="/nextChapter/<%= verseData.chapter_number + 1%>/<%= language %>" class="noDecoration"><div class="button next chapterNext ubuntu-condensed-regular">Next Chapter<span class="material-symbols-outlined">
                      arrow_forward
                    </span></div></a>
                  </div>
                  <% } %>
                  
            </div>
          </div>
        </div>
      </div>
      <div class="chapterHeading m-plus-1p-medium">About Author</div>
      <div class="aboutAuthor">
        <% if (language == "hindi") { %>
         <div class="hindiAuthor authorDiv">
          <img src="/images/chinmayaSwami.jfif" alt="ChinmayaSwami Photo" class="authorPhoto">
          <div class="authorName verseTab amita-regular">स्वामी चिन्मयानंद</div>
          <div class="birthDate verseTab">8 May 1916 - 3 August 1993</div>
          <div class="summaryTab hindiSummary authorSummary anek-devanagari">
            स्वामी चिन्मयानन्द ,हिन्दू धर्म और संस्कृति के मूलभूत सिद्धान्त वेदान्त दर्शन के एक महान प्रवक्ता थे। उन्होंने सारे भारत में भ्रमण करते हुए देखा कि देश में धर्म संबंधी अनेक भ्रांतियां फैली हैं। उनका निवारण कर शुद्ध धर्म की स्थापना करने के लिए उन्होंने गीता ज्ञान-यज्ञ प्रारम्भ किया और 1953 ई में चिन्मय मिशन की स्थापना की।
            स्वामी जी के प्रवचन बड़े ही तर्कसंगत और प्रेरणादायी होते थे। उनको सुनने के लिए हजारों लोग आने लगे। उन्होंने सैकड़ों संन्यासी और ब्रह्मचारी प्रशिक्षित किये। हजारों स्वाध्याय मंडल स्थापित किये। बहुत से सामाजिक सेवा के कार्य प्रारम्भ किये, जैसे विद्यालय, अस्पताल आदि। स्वामी जी ने उपनिषद्, गीता और आदि शंकराचार्य के 35 से अधिक ग्रंथों पर व्याख्यायें लिखीं। गीता पर लिखा उनका भाष्य सर्वोत्तम माना जाता है।
          </div>  
         </div>
        <% } %>
        <% if (language == "english") { %>
          <div class="EnglishAuthor authorDiv">
            <img src="/images/Purohit_swami.webp" alt="Purohit swami Photo" class="authorPhoto">
            <div class="authorName verseTab ubuntu-condensed-regular">Shri Purohit Swami</div>
            <div class="birthDate verseTab">12 October 1882 - 1941</div>
            <div class="summaryTab englishSummary authorSummary m-plus-1p-medium">
              Purohit was born Shankar Gajannan Purohit in Badnera, then in British India's Bombay Presidency, to a wealthy Marathi Brahmin family.
              As a child he became proficient in Marathi, English, and Sanskrit. He was well educated, obtaining a B.A. in philosophy at Calcutta University in 1903 and a law degree from Deccan College and Bombay University.
              In 1923 his guru directed him to embark on a mendicant pilgrimage the length and breadth of India. Begging bowl in hand, he passed several years in this way. He travelled to Europe on an extended visit in 1930.
            </div>  
           </div>
        <% } %>
      </div>
      
<% } else {%> 
  <div class="chapterDetail">
    <img src="/images/krishnaPngOrignal2.jpeg" alt="Krishna Image" class="authorPhoto webImage">
    <div class="verseTab amita-regular orange ">।। श्री कृष्णा शरणम ममः ।।</div>
    <h2 class="chapterHeading m-plus-1p-medium verseHeading1">Search Verse</h2>
    <h4 class="chapterHeading m-plus-1p-medium verseHeading2">Search By Chapter</h4>
  </div>
  <div class="verseSearchBar">
    <form action="/searchVerse" method="post" class="verseForm">  
      <div class="part1">
        <input type="text" class="verseSearchInput verseSearchElement m-plus-1p-medium" placeholder="Chapter" name="chapterNumber" required>
        <input type="text" class="verseSearchInput m-plus-1p-medium searchVerse verseSearchElement" placeholder="Verse" name="verseNumber" required>
      </div>
      <div class="part2">
        <select name="language" class="verseLanguageSearch verseSearchElement" required>
          <option value="english">English</option>
          <option value="hindi">हिन्दी</option>
        </select>
        <input type="submit" class="m-plus-1p-medium verseSearchSubmit verseSearchElement" value="Go">
      </div>
    </form>
  </div>
<% } %>
<script src="/js/app.js"></script>  
<%- include('./partials/footer.ejs') %>